@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat'),
        url('../fonts/Montserrat_Regular.woff2') format('woff2'),
        url('../fonts/Montserrat_Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat'),
        url('../fonts/Montserrat_Medium.woff2') format('woff2'),
        url('../fonts/Montserrat_Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat'),
        url('../fonts/Montserrat_SemiBold.woff2') format('woff2'),
        url('../fonts/Montserrat_SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Hagin Caps Medium';
    src: local('Hagin Caps Medium'),
        url('../fonts/Hagin_Caps_Medium.woff2') format('woff2'),
        url('../fonts/Hagin_Caps_Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
